@import "../../node_modules/compass-mixins/lib/compass/css3";

$input-h: 2em;

$track-h: .5em;
$track-v: 32 64 125 250 500 1K 2K 4K 8K 16K;
$len: length($track-v);

$thumb-d: 1.5em;

@mixin track() {
  border: none;
  height: $track-h;
  border-radius: $track-h/2;
  box-shadow:
          inset -.125em .125em .125em #1c1c1c,
          inset 1px -1px 1px #4a4a4a;
  background: #23292f;
}

@mixin thumb() {
  border: none;
  width: $thumb-d; height: $thumb-d;
  border-radius: 50%;
  background:
          radial-gradient(#{at 80% 50%}, #777, rgba(#777, 0) 70%) no-repeat 100% 50%,
          radial-gradient(#{at 50% 50%}, #777, rgba(#777, 0) 70%) no-repeat -65% 90%,
          radial-gradient(rgba(#fff, 0) 32%, #fff 35%),
          linear-gradient(90deg, #f0984d, #bf7145) no-repeat 50% 50%;
  background-size: 35% 65%, 65% 65%, 100% 100%, 65% 65%;
}

html, body { height: 100%; }

body {
  display: flex;
  justify-content: center;
  overflow: hidden;
  margin: 0;
  background:
          url(https://i.imgur.com/vRXJ21l.png),
          radial-gradient(#3a3b3f, #313236);

  &:before {
    position: absolute;
    left: 0; right: 0;
    color: #a0a1b2;
    font: 600 1.5em/2 verdana, sans-serif;
    text-align: center;
    text-shadow: 0 -2px #111;
    content: 'Rock';
  }
}

section {
  align-self: center;
  width: 15em;
  transform: rotate(-90deg);
  background: linear-gradient(-90deg,
          #222 1px, #555 1px, #555 2px, transparent 2px)
          (15em/2 + .125em/2) 0;
  background-size: 1.75em 1px;
  font: 1em/2 verdana, sans-serif;
  text-align: center;

  &:nth-of-type(1) {
    height: 2em;

    input[type='range'] /deep/ #track:before {
      content: 'Pre-Amp.';
    }
  }
  &:nth-of-type(2) {
    position: relative;
    height: 20em;

    &:before {
      position: absolute;
      bottom: 100%; left: 50%;
      width: 3em;
      transform: translate(-50%, 50%) rotate(90deg) translate(-70%);
      color: #676672;
      font-size: .8em;
      font-weight: 600;
      line-height: 8.75;
      text-align: right;
      text-indent: -.25em;
      text-shadow: 0 -1px #000;
      content: '+12dB 0dB -12dB';
    }

    @for $i from 1 through $len {
      input[type='range']:nth-of-type(#{$i}) /deep/ #track:before {
        content: '#{nth($track-v, $i)}';
      }
    }
  }
}

input[type='range'] {
  &,
  &::-webkit-slider-runnable-track,
  &::-webkit-slider-thumb {
    -webkit-appearance: none;
  }

  display: block;
  margin: 0 auto;
  border: none;
  padding: 0;
  width: 14.5em; height: 2em;
  background: transparent;
  font: inherit;
  cursor: pointer;


  /* slider components */
  &::-webkit-slider-runnable-track {
    @include track();
  }
  &::-moz-range-track {
    @include track();
  }
  &::-ms-track {
    @include track();
    color: transparent;
  }
  &::-ms-fill-lower,
  &::-ms-fill-upper,
  &::-ms-tooltip {
    display: none;
  }

  &::-webkit-slider-thumb {
    margin-top: ($track-h - $thumb-d)/2;
    @include thumb();
  }
  &::-moz-range-thumb {
    @include thumb();
  }
  &::-ms-thumb {
    @include thumb();
  }

  /deep/ #track {
    position: relative;

    &:before {
      position: absolute;
      top: ($track-h - $input-h)/2; right: 100%;
      transform: translate(50%) rotate(90deg) translate(0, 50%) scale(.8);
      color: #676672;
      font-weight: 900;
      text-shadow: 0 -1px #000;
      white-space: nowrap;
      font: 1em/2 verdana, sans-serif;
    }
  }

  &:focus {
    outline: none;

    background-color: rgba(#000, .1);
  }
}