/* ==========================================================================
   COLOR
   ========================================================================== */
$white: #FFFFFF;
$black: #333333;
$gray: #E3E3E3;
$blue: rgba(0,0,0,0.8);
$black-light: #000000;

$mdc-theme-primary: $blue;
$mdc-theme-accent: $white;
$mdc-theme-background: #fff;
