@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
@import '../../styles/variables.scss';

.root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

}

.content {
  flex: 1;
  /*background: url("../../../static/admin/img/Background2.jpg") no-repeat center center fixed;*/
  background: url("../../../static/admin/img/daft-punk-cusica-plus.jpg") no-repeat center center fixed;
  /* background-size: contain; */
  /* background-repeat: no-repeat; */
  /* background: url(images/bg.jpg) no-repeat center center fixed; */
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body {
  margin: auto;
  font-family: Roboto, sans-serif;
}



